@font-face {
    font-family: 'Augusta Two';
    src: url('AugustaTwo.woff2') format('woff2'),
        url('AugustaTwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

