@font-face {
    font-family: 'Azbuka04';
    src: url('Azbuka04.woff2') format('woff2'),
        url('Azbuka04.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

