@import './reset.scss';
@import './utils.scss';
@import './fonts.scss';

:root {
  --textBlack: #000210;
  --textWhite: #FDFDFD;
  --textRed: #9F0101;
  --font-secondary: 'Augusta Two', serif;
  --font-primary: 'Azbuka04', sans-serif;
  --font-gothic: 'Sketch Gothic School';
  --transition: 0.2s ease-in;
  --small-container-width: 1150px;
  --index: calc(1vw + 1vh);
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 1.25;
  background: #121317;

  background-image: url(/images/banner/bg.jpg);
  background-size: 100% auto;
  background-position: 50% 0%;
  background-repeat: repeat-y;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

h2 {
  font-size: 60px;
  margin-bottom: 24px;

  @media (max-width: 600px) {
    font-size: 30px;
    margin-bottom: 16px;
  }
}

h3 {
  font-size: 36px;
  margin-bottom: 16px;

  @media (max-width: 600px) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.container {
  --offset: 64px;
  --contentWidth: 1300px;

  padding: 0 var(--offset);
  max-width: calc(var(--contentWidth) + var(--offset) * 2);
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1000px) {
    padding: 0 20px;
  }

  @media (max-width: 479px) {
    padding: 0 16px;
  }
}